<div class="body-container">
    <div class="body-content">
        Meet <br>
        Knowledgeable Students, Our Future Leaders !🎓
    </div>
    <div class="body-image"></div>
</div>


<div class="secondary-conatiner">
    <div class="search-container">
        <span class="dark material-symbols-outlined">
            search
        </span>
        <input type="text" id="search-input" placeholder="Search...">
    </div>
    <div id="result-container" class="result-container">
        
    </div>
</div>