<div class="body-container">
    <div class="body-content">
        Meet <br>
        Knowledgeable Students, <br>
        Our Future Leaders !🎓
    </div>
</div>


<div class="secondary-container" id="root">

    <div class="inner-stat-container">
        <div class="search-container">
            <span class="dark material-symbols-outlined">
                search
            </span>
            <input type="text" id="search-input" placeholder="Search...">
        </div>
        <div class="result-count">
            <span class="material-symbols-outlined">
                person
            </span>
            <div id="result-stat"></div>
        </div>
    </div>
    <div id="result-container" class="result-container">


    </div>
    <template user-template class="hidden">
        <div class="profile-card">
            <div class="profile-image ">
                <img src="" user-image />
            </div>
            <div class="profile-content">
                <div class="profile-name" user-name></div>
                <div class="profile-description" user-description></div>
                <div class="profile-badges" user-badges></div>
            </div>
        </div>
    </template>

</div>