.body-container {
    padding: 6rem $ScreenPadding;
    display: flex;
    // width: 100%;
    align-items: center;
    // gap: 4rem;

    background: rgb(28, 4, 46);
    background: -moz-linear-gradient(73deg, rgba(28, 4, 46, 1) 0%, rgba(35, 15, 8, 1) 100%);
    background: -webkit-linear-gradient(73deg, rgba(28, 4, 46, 1) 0%, rgba(35, 15, 8, 1) 100%);
    background: linear-gradient(73deg, rgba(28, 4, 46, 1) 0%, rgba(35, 15, 8, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1c042e", endColorstr="#230f08", GradientType=1);

    .body-content {
        width: 100%;
        font-size: 5rem;
        font-family: $RobotoSlab;
        font-weight: bold;

    }


}

.secondary-container {

    // background: rgba(28, 4, 46, 0.1);
    // background: -moz-linear-gradient(84deg, rgba(28, 4, 46, 1) 0%, rgba(35, 15, 8, 1) 100%);
    // background: -webkit-linear-gradient(84deg, rgba(28, 4, 46, 1) 0%, rgba(35, 15, 8, 1) 100%);
    // background: linear-gradient(84deg, rgba(28, 4, 46, 1) 0%, rgba(35, 15, 8, 1) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1c042e", endColorstr="#230f08", GradientType=1);


    padding: 2rem $ScreenPadding;
    padding-bottom: 4rem;

    .inner-stat-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;

        .result-count {
            display: flex;
            gap: 1rem;
            padding: 5px 5px 5px 10px;
            border-radius: 40px;
            justify-content: space-between;
            align-items: center;
            background-color: rgb(61, 8, 8);

            #result-stat {

                border: 1px solid rgba(255, 255, 255, 0.8);
                font-weight: bold;
                padding: 5px 10px;
                border-radius: 40px;

            }
        }

        .search-container {

            border: 2px solid black;
            display: flex;
            padding: 10px;
            border-radius: 50px;
            gap: 1rem;

            .dark {
                color: black;
                font-weight: bolder;
            }

            #search-input {

                background-color: transparent;
                font-weight: 400;
                width: 200px;
                border: none;
                outline: none;
                color: black;
            }
        }
    }

    .hidden {
        display: none;
    }

    .result-container {
        display: flex;

        color: black !important;
        gap: 1.8rem;
        flex-wrap: wrap;

        &::-webkit-scrollbar {
            width: 0px;
            display: none;
        }

        .no-result {

            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: $NoResultHeight;
            // background-color: blue;
            img {
                width: $NoResultHeight;
            }
        }

        .profile-card {

            background-color: black;

            display: flex;
            flex-direction: column;
            border-radius: 5px;
            width: 250px;

            .profile-image {

                overflow: hidden;
                padding: 1rem 0rem 0rem 1rem;

                .overlay {
                    height: 250px;
                    width: 250px;
                    object-fit: contain;
                    opacity: 0.2;
                    border-radius: 0;
                }

                img {
                    height: 250px;
                    width: 250px;
                    object-fit: cover;
                    border-radius: 5px;


                }

            }

            .profile-content {

                padding: 1rem 2rem 2rem 2rem;

                .profile-name {
                    font-family: $RobotoSlab;
                    font-weight: bold;
                    margin-bottom: 1rem;
                }

                .profile-description {
                    font-family: $Rubik;
                    font-size: 0.8rem;

                }

                .profile-badges {

                    margin-top: 1rem;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    gap: 10px;

                    .badges {
                        height: 30px;
                    }

                    .linkedin {
                        border-radius: 5px;
                    }

                }
            }
        }

    }
}

.footer {
    // border-top: 1px dashed $FooterColor;
    padding: 2rem $ScreenPadding;

    .footer-content {
        color: $FooterColor;
        display: flex;
        justify-content: center;
        align-content: center;
        font-size: 0.9rem;

        a {
            color: $FooterColor;
        }

        .grey.heart {
            color: $FooterColor;
            font-size: 0.9rem;
        }
    }
}