$Caprasimo: 'Caprasimo',
cursive;
$OpenSans: 'Open Sans',
sans-serif;
$RobotoSlab: 'Roboto Slab',
serif;
$Rubik: 'Rubik',
sans-serif;
$Poppins: 'Poppins',
sans-serif;


$NoResultHeight: 60vh;
$FooterColor: grey;
$BodyBackground: rgba(188, 188, 188, 0.7);
$ScreenPadding: 12rem;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: $OpenSans;

    user-select: none;
}

body {

    background-color: $BodyBackground;

    &::-webkit-scrollbar {
        width: 0px;
        display: none;
    }

    #goTop {
        cursor: pointer;
        position: fixed;
        z-index: 999;
        right: 0;
        bottom: 10%;
        transform: translateY(-50%);
        padding: 20px;
        color: black !important;
        background: black;
        border: none;
        opacity: 0;
        transition: opacity 0.4s linear;

    }

    #goTop.is-visible {
        opacity: 1;
    }

}