.navigation-container {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem $ScreenPadding;

    .navigation-title {
       font-size: 1.6rem;
       font-weight: 1000;
       color: black;
       font-family: $RobotoSlab;

    }
}